@media (max-width: 920px) {
    .header {
        flex-direction: column;
    }
    .conteinerAp {
        width: 90%;
    }

    .main__partF {
        flex-direction: column;
        align-items: center;
    }

    .main__partS__rad {
        height: 500px;
        width: 500px;
    }
}